.grid {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .grid {
        width: 100%;
    }
}